<div style="display: none;">
  <div id="ordercall" class="form-order">
    <%= form_for @order do |f| %>
        <div>
          <%= f.label :name, "Ваше Имя* :" %><br/>
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.label :name, "Телефон* :" %><br/>
          <%= f.text_field :name %>
        </div>
        <%= f.submit "Заказать звонок" %>
    <% end %>
  </div>
</div>